loomina_verify_blueprint.json
{"code":"OK","response":{"blueprint":{"flow":[{"id":1,"module":"gateway:CustomWebHook","version":1,"metadata":{"designer":{"x":0,"y":0}},"parameters":{"hook":2296357}},{"id":2,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":3,"filter":{"name":"Start","conditions":[[{"a":"{{1.action}}","b":"start","o":"text:equal"}]]},"module":"http:MakeRequest","version":4,"metadata":{"designer":{"x":600,"y":-100}},"parameters":{"url":"https://verify.twilio.com/v2/Services/VA85ce7a3d73d72c01e50e6e79896494a2/Verifications","fields":[{"name":"To","value":"{{1.phone_number}}"},{"name":"Channel","value":"sms"}],"method":"POST","headers":[{"name":"Authorization","value":"Basic QUNkNjU1YmMyMGVhYjkwMGZmN2QwMTQ5MzU2YjEyNTViMDozNzRjZDBmM2E0ZjhiNmVkMWQ3NjFjYjdhY2YzODJhNA=="}],"bodyType":"x_www_form_urlencoded"}},{"id":4,"module":"gateway:WebhookRespond","version":1,"metadata":{"designer":{"x":900,"y":-100}},"parameters":{"body":"{\"status\": \"{{3.data.status}}\", \"sid\": \"{{3.data.sid}}\"}","status":200}}]},{"flow":[{"id":5,"filter":{"name":"Check","conditions":[[{"a":"{{1.action}}","b":"check","o":"text:equal"}]]},"module":"http:MakeRequest","version":4,"metadata":{"designer":{"x":600,"y":100}},"parameters":{"url":"https://verify.twilio.com/v2/Services/VA85ce7a3d73d72c01e50e6e79896494a2/VerificationCheck","fields":[{"name":"To","value":"{{1.phone_number}}"},{"name":"Code","value":"{{1.otp_code}}"}],"method":"POST","headers":[{"name":"Authorization","value":"Basic QUNkNjU1YmMyMGVhYjkwMGZmN2QwMTQ5MzU2YjEyNTViMDozNzRjZDBmM2E0ZjhiNmVkMWQ3NjFjYjdhY2YzODJhNA=="}],"bodyType":"x_www_form_urlencoded"}},{"id":6,"module":"gateway:WebhookRespond","version":1,"metadata":{"designer":{"x":900,"y":100}},"parameters":{"body":"{\"status\": \"{{5.data.status}}\", \"valid\": {{5.data.valid}}}","status":200}}]}],"version":1,"metadata":{"designer":{"x":300,"y":0}}}],"name":"Loomina Identity Verify","metadata":{"instant":true,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":false,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}},"scheduling":{"type":"immediately"},"concept":false,"created":"2026-01-06T15:31:17.822Z","last_edit":"2026-01-06T15:40:53.875Z","metadata":{"input_spec":[],"output_spec":[]},"idSequence":7}}