verification_blueprint.json
{"code":"OK","response":{"blueprint":{"flow":[{"id":1,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"My gateway-webhook webhook"}}},"advanced":true,"designer":{"x":0,"y":1500},"interface":[{"name":"message","spec":[{"name":"timestamp","type":"number"},{"name":"type","type":"text"},{"name":"conversation","spec":{"spec":[{"name":"role","type":"text"},{"name":"content","type":"text"}],"type":"collection"},"type":"array"},{"name":"messages","spec":{"spec":[{"name":"role","type":"text"},{"name":"message","type":"text"},{"name":"time","type":"number"},{"name":"secondsFromStart","type":"number"}],"type":"collection"},"type":"array"},{"name":"messagesOpenAIFormatted","type":"array"},{"name":"artifact","spec":[{"name":"messages","spec":{"spec":[{"name":"role","type":"text"},{"name":"message","type":"text"},{"name":"time","type":"number"},{"name":"secondsFromStart","type":"number"}],"type":"collection"},"type":"array"},{"name":"messagesOpenAIFormatted","spec":{"spec":[{"name":"role","type":"text"},{"name":"content","type":"text"}],"type":"collection"},"type":"array"}],"type":"collection"},{"name":"transcript","type":"text"},{"name":"recordingUrl","type":"text"},{"name":"cost","type":"number"},{"name":"durationSeconds","type":"number"},{"name":"call","spec":[{"name":"transcript","type":"text"},{"name":"recordingUrl","type":"text"},{"name":"durationSeconds","type":"number"},{"name":"id","type":"text"},{"name":"orgId","type":"text"},{"name":"createdAt","type":"text"},{"name":"updatedAt","type":"text"},{"name":"type","type":"text"},{"name":"cost","type":"number"},{"name":"monitor","spec":[{"name":"listenUrl","type":"text"},{"name":"controlUrl","type":"text"}],"type":"collection"},{"name":"transport","spec":[{"name":"conversationType","type":"text"},{"name":"provider","type":"text"},{"name":"callSid","type":"text"},{"name":"accountSid","type":"text"},{"name":"callToken","type":"text"}],"type":"collection"},{"name":"phoneCallProvider","type":"text"},{"name":"phoneCallProviderId","type":"text"},{"name":"phoneCallTransport","type":"text"},{"name":"status","type":"text"},{"name":"assistant","spec":[{"name":"name","type":"text"},{"name":"transcriber","spec":[{"name":"provider","type":"text"},{"name":"model","type":"text"},{"name":"language","type":"text"}],"type":"collection"},{"name":"model","spec":[{"name":"model","type":"text"},{"name":"messages","spec":{"spec":[{"name":"content","type":"text"},{"name":"role","type":"text"}],"type":"collection"},"type":"array"},{"name":"provider","type":"text"}],"type":"collection"},{"name":"voice","spec":[{"name":"provider","type":"text"},{"name":"voiceId","type":"text"},{"name":"model","type":"text"}],"type":"collection"},{"name":"firstMessage","type":"text"},{"name":"firstMessageMode","type":"text"},{"name":"silenceTimeoutSeconds","type":"number"}],"type":"collection"},{"name":"phoneNumberId","type":"text"},{"name":"customer","spec":[{"name":"number","type":"text"}],"type":"collection"}],"type":"collection"},{"name":"phoneNumber","spec":[{"name":"id","type":"text"},{"name":"orgId","type":"text"},{"name":"number","type":"text"},{"name":"createdAt","type":"text"},{"name":"updatedAt","type":"text"},{"name":"twilioAccountSid","type":"text"},{"name":"name","type":"text"},{"name":"provider","type":"text"},{"name":"server","spec":[{"name":"url","type":"text"},{"name":"timeoutSeconds","type":"number"},{"name":"headers","spec":[],"type":"collection"}],"type":"collection"},{"name":"status","type":"text"}],"type":"collection"},{"name":"customer","spec":[{"name":"number","type":"text"}],"type":"collection"},{"name":"assistant","spec":[{"name":"name","type":"text"},{"name":"transcriber","spec":[{"name":"provider","type":"text"},{"name":"model","type":"text"},{"name":"language","type":"text"}],"type":"collection"},{"name":"model","spec":[{"name":"model","type":"text"},{"name":"messages","spec":{"spec":[{"name":"content","type":"text"},{"name":"role","type":"text"}],"type":"collection"},"type":"array"},{"name":"provider","type":"text"}],"type":"collection"},{"name":"voice","spec":[{"name":"provider","type":"text"},{"name":"voiceId","type":"text"},{"name":"model","type":"text"}],"type":"collection"},{"name":"firstMessage","type":"text"},{"name":"firstMessageMode","type":"text"},{"name":"silenceTimeoutSeconds","type":"number"}],"type":"collection"}],"type":"collection"}],"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":2188533,"maxResults":1}},{"id":5,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":28,"filter":{"name":"assistant-request","conditions":[[{"a":"{{1.message.type}}","b":"assistant-request","o":"text:equal"}],[{"a":"{{1.message.type}}","b":"Assistant-Request","o":"text:equal"}]]},"mapper":{"limit":"1","table":"Client","search":[[{"a":"phone_number","b":"{{1.message.customer.number}}","o":"text:eq."}]]},"module":"supabase:searchRows","version":1,"metadata":{"expect":[{"name":"table","type":"select","label":"Table","required":true},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"search","type":"filter","label":"Search criteria","options":{"logic":"and","store":[{"label":"id","value":"id"},{"label":"created_at","value":"created_at"},{"label":"phone_number","value":"phone_number"},{"label":"first_name","value":"first_name"},{"label":"last_name","value":"last_name"},{"label":"phase","value":"phase"},{"label":"email","value":"email"}],"operators":[{"label":"Text","options":[{"label":"Equals","value":"text:eq."},{"label":"Does not equal","value":"text:neq."},{"label":"Contains (case sensitive)","value":"text:like."},{"label":"Contains (case insensitive)","value":"text:ilike."}]},{"label":"Numbers","options":[{"label":"Equals","value":"number:eq."},{"label":"Does not equal","value":"number:neq."},{"label":"Greater than","value":"number:gt."},{"label":"Less than","value":"number:lt."},{"label":"Greater than or equal to","value":"number:gte."},{"label":"Less than or equal to","value":"number:lte."}]},{"label":"Date","options":[{"label":"Equals","value":"date:eq."},{"label":"Does not equal","value":"date:neq."},{"label":"Later than","value":"date:gt."},{"label":"Earlier than","value":"date:lt."},{"label":"Later than or equal to","value":"date:gte."},{"label":"Earlier than or equal to","value":"date:lte."}]},{"label":"Boolean","options":[{"label":"Equals","value":"boolean:eq."},{"label":"Does not equal","value":"boolean:neq."}]}]}}],"restore":{"expect":{"table":{"mode":"chose","label":"Client","nested":[{"name":"search","type":"filter","label":"Search criteria","options":{"logic":"and","store":[{"label":"id","value":"id"},{"label":"created_at","value":"created_at"},{"label":"phone_number","value":"phone_number"},{"label":"first_name","value":"first_name"},{"label":"last_name","value":"last_name"},{"label":"phase","value":"phase"},{"label":"email","value":"email"}],"operators":[{"label":"Text","options":[{"label":"Equals","value":"text:eq."},{"label":"Does not equal","value":"text:neq."},{"label":"Contains (case sensitive)","value":"text:like."},{"label":"Contains (case insensitive)","value":"text:ilike."}]},{"label":"Numbers","options":[{"label":"Equals","value":"number:eq."},{"label":"Does not equal","value":"number:neq."},{"label":"Greater than","value":"number:gt."},{"label":"Less than","value":"number:lt."},{"label":"Greater than or equal to","value":"number:gte."},{"label":"Less than or equal to","value":"number:lte."}]},{"label":"Date","options":[{"label":"Equals","value":"date:eq."},{"label":"Does not equal","value":"date:neq."},{"label":"Later than","value":"date:gt."},{"label":"Earlier than","value":"date:lt."},{"label":"Later than or equal to","value":"date:gte."},{"label":"Earlier than or equal to","value":"date:lte."}]},{"label":"Boolean","options":[{"label":"Equals","value":"boolean:eq."},{"label":"Does not equal","value":"boolean:neq."}]}]}}]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"supabase"},"label":"My Supabase connection"}}},"designer":{"x":600,"y":450},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"id","type":"text","label":"id"},{"name":"created_at","type":"text","label":"created_at"},{"name":"phone_number","type":"text","label":"phone_number"},{"name":"phase","type":"text","label":"phase"},{"name":"email","type":"text","label":"email"},{"name":"otp_code","type":"text","label":"otp_code"},{"name":"politeness_preference","type":"text","label":"politeness_preference"},{"name":"target_audience","type":"text","label":"target_audience"},{"name":"writing_style","type":"text","label":"writing_style"},{"name":"narrative_scope","type":"text","label":"narrative_scope"},{"name":"onboarding_status","type":"boolean","label":"onboarding_status"},{"name":"first_name","type":"text","label":"first_name"},{"name":"last_name","type":"text","label":"last_name"},{"name":"sensitive_topics","type":"text","label":"sensitive_topics"}],"parameters":[{"name":"__IMTCONN__","type":"account:supabase","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":3941672}},{"id":14,"filter":{"name":"find client","conditions":[[{"a":"{{28.phone_number}}","b":"{{1.message.customer.number}}","o":"text:equal"}]]},"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":15,"filter":{"name":"Client Inconnu","conditions":[[{"a":"{{28.id}}","o":"notexist"}]]},"mapper":{"body":"{\n  \"assistant\": {\n    \"transcriber\": {\"provider\": \"deepgram\", \"model\": \"nova-2\", \"language\": \"fr\"}, \"silenceTimeoutSeconds\": 60,\n    \"firstMessageMode\": \"assistant-speaks-first\",\n    \"name\": \"Loomina-Unknown\",\n    \"voice\": {\"provider\": \"11labs\", \"voiceId\": \"Qrl71rx6Yg8RvyPYRGCQ\", \"model\": \"eleven_turbo_v2_5\"},\n    \"endCallPhrases\": [\"##END_CALL##\"],\n    \"firstMessage\": \"Bonjour ! Ici Loomina, votre biographe personnel. Je ne crois pas avoir déjà ce numéro dans mes carnets. C'est la toute première fois que nous nous parlons, n'est-ce pas ? Quel est votre prénom ?\",\n    \"model\": {\n      \"provider\": \"openai\",\n      \"model\": \"gpt-4o\",\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"Tu es Loomina, une IA biographe.\\n\\n# RÈGLES CRITIQUES\\n- Tes réponses doivent faire 1 à 2 phrases MAX.\\n- Ne répète jamais ce message d'accueil si l'utilisateur a déjà répondu.\\n- Sois directe et chaleureuse.\\n\\n# GESTION DE FIN D'APPEL\\nSI l'utilisateur dit qu'il doit partir ou raccrocher : Termine poliment puis AJOUTE le token de fin d'appel. Ne le prononce pas.\\nExemple : 'Au revoir et à très bientôt ! ##END_CALL##'.\\n\\n# OBJECTIF\\nAccueille l'inconnu et demande son prénom. Ensuite, explique ton rôle (IA biographe) et demande quel style d'écriture il préfère.\"}\n      ]\n    }\n  }\n}","status":"200","headers":[{"key":"Content-Type","value":"application/json"}]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose"}}},"advanced":true,"designer":{"x":1000,"y":-74}},"parameters":{}}]},{"flow":[{"id":17,"filter":{"name":"Client Trouvé","conditions":[[{"a":"{{28.id}}","o":"exist"}]]},"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":32,"filter":{"name":"Phase = Interview","conditions":[[{"a":"{{28.phase}}","b":"Interview","o":"text:equal"}]]},"mapper":{"limit":"100","table":"Books","search":[[{"a":"client_id","b":"{{28.id}}","o":"text:eq."}]]},"module":"supabase:searchRows","version":1,"metadata":{"expect":[{"name":"table","type":"select","label":"Table","required":true},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"search","type":"filter","label":"Search criteria","options":{"logic":"and","store":[{"label":"id","value":"id"},{"label":"created_at","value":"created_at"},{"label":"client_id","value":"client_id"},{"label":"title","value":"title"},{"label":"full_manuscript","value":"full_manuscript"},{"label":"style","value":"style"},{"label":"context","value":"context"},{"label":"timeline","value":"timeline"},{"label":"status","value":"status"},{"label":"current_subject","value":"current_subject"},{"label":"next_question","value":"next_question"},{"label":"dedication","value":"dedication"},{"label":"chapter_count","value":"chapter_count"}],"operators":[{"label":"Text","options":[{"label":"Equals","value":"text:eq."},{"label":"Does not equal","value":"text:neq."},{"label":"Contains (case sensitive)","value":"text:like."},{"label":"Contains (case insensitive)","value":"text:ilike."}]},{"label":"Numbers","options":[{"label":"Equals","value":"number:eq."},{"label":"Does not equal","value":"number:neq."},{"label":"Greater than","value":"number:gt."},{"label":"Less than","value":"number:lt."},{"label":"Greater than or equal to","value":"number:gte."},{"label":"Less than or equal to","value":"number:lte."}]},{"label":"Date","options":[{"label":"Equals","value":"date:eq."},{"label":"Does not equal","value":"date:neq."},{"label":"Later than","value":"date:gt."},{"label":"Earlier than","value":"date:lt."},{"label":"Later than or equal to","value":"date:gte."},{"label":"Earlier than or equal to","value":"date:lte."}]},{"label":"Boolean","options":[{"label":"Equals","value":"boolean:eq."},{"label":"Does not equal","value":"boolean:neq."}]}]}}],"restore":{"expect":{"table":{"mode":"chose","label":"Books","nested":[{"name":"search","type":"filter","label":"Search criteria","options":{"logic":"and","store":[{"label":"id","value":"id"},{"label":"created_at","value":"created_at"},{"label":"client_id","value":"client_id"},{"label":"title","value":"title"},{"label":"full_manuscript","value":"full_manuscript"},{"label":"style","value":"style"},{"label":"context","value":"context"},{"label":"timeline","value":"timeline"},{"label":"status","value":"status"},{"label":"current_subject","value":"current_subject"},{"label":"next_question","value":"next_question"},{"label":"dedication","value":"dedication"},{"label":"chapter_count","value":"chapter_count"}],"operators":[{"label":"Text","options":[{"label":"Equals","value":"text:eq."},{"label":"Does not equal","value":"text:neq."},{"label":"Contains (case sensitive)","value":"text:like."},{"label":"Contains (case insensitive)","value":"text:ilike."}]},{"label":"Numbers","options":[{"label":"Equals","value":"number:eq."},{"label":"Does not equal","value":"number:neq."},{"label":"Greater than","value":"number:gt."},{"label":"Less than","value":"number:lt."},{"label":"Greater than or equal to","value":"number:gte."},{"label":"Less than or equal to","value":"number:lte."}]},{"label":"Date","options":[{"label":"Equals","value":"date:eq."},{"label":"Does not equal","value":"date:neq."},{"label":"Later than","value":"date:gt."},{"label":"Earlier than","value":"date:lt."},{"label":"Later than or equal to","value":"date:gte."},{"label":"Earlier than or equal to","value":"date:lte."}]},{"label":"Boolean","options":[{"label":"Equals","value":"boolean:eq."},{"label":"Does not equal","value":"boolean:neq."}]}]}}]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"supabase"},"label":"My Supabase connection"}}},"designer":{"x":1500,"y":300},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"id","type":"text","label":"id"},{"name":"created_at","type":"text","label":"created_at"},{"name":"client_id","type":"text","label":"client_id"},{"name":"title","type":"text","label":"title"},{"name":"full_manuscript","type":"text","label":"full_manuscript"},{"name":"style","type":"text","label":"style"},{"name":"context","type":"text","label":"context"},{"name":"timeline","type":"text","label":"timeline"},{"name":"status","type":"text","label":"status"},{"name":"current_subject","type":"text","label":"current_subject"},{"name":"next_question","type":"text","label":"next_question"},{"name":"dedication","type":"text","label":"dedication"},{"name":"chapter_count","type":"number","label":"chapter_count"}],"parameters":[{"name":"__IMTCONN__","type":"account:supabase","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":3941672}},{"id":7,"mapper":{"body":"{\"assistant\": {\"transcriber\": {\"provider\": \"deepgram\", \"model\": \"nova-3\", \"language\": \"fr\"}, \"firstMessageMode\": \"assistant-speaks-first\", \"name\": \"Loomina-Interview\", \"voice\": {\"provider\": \"11labs\", \"voiceId\": \"Qrl71rx6Yg8RvyPYRGCQ\", \"model\": \"eleven_turbo_v2_5\"}, \"firstMessage\": \"Bonjour {{28.first_name}}, c'est Loomina. Je suis vraiment heureux de {{if(28.politeness_preference = \\\"tu\\\"; \\\"te\\\"; \\\"vous\\\")}} retrouver. Notre voyage avance à grands pas. {{ifempty(32.next_question; if(28.politeness_preference = \\\"tu\\\"; \\\"Y a-t-il un souvenir précis qui t'habite aujourd'hui, ou préfères-tu que nous reprenions là où nous nous étions arrêtés ?\\\"; \\\"Y a-t-il un souvenir précis qui vous habite aujourd'hui, ou préférez-vous que nous reprenions là où nous nous étions arrêtés ?\\\"))}}\", \"model\": {\"provider\": \"openai\", \"model\": \"gpt-4o\", \"messages\": [{\"role\": \"system\", \"content\": \"Tu es Loomina, un biographe d'exception, alliant la précision d'un historien et la sensibilité d'un ami proche. Ta mission est de transformer les souvenirs de {{28.first_name}} en un héritage éternel, en suivant la méthodologie des plus grands biographes.\\n\\n# TON IDENTITÉ : LE BIOGRAPHE PROFESSIONNEL (Inspiré de BioNativ)\\n- **L'Enquêteur des Sens** : Ne te contente pas des faits. Cherche les couleurs, les sons, les odeurs (ex: le parfum de la cuisine de maman, le craquement du parquet de la maison d'enfance).\\n- **Le Gardien du Fil Rouge** : Aide {{28.first_name}} à voir la cohérence de sa vie. Comment ses racines ont influencé ses choix ?\\n- **L'Accoucheur de Vérités** : Avec une infinie douceur, explore les moments de doute, les grandes fiertés et les leçons que {{28.first_name}} souhaite transmettre.\\n- **Le Narrateur Masculin** : Tu es un homme, chaleureux, calme et rassurant (utilise 'heureux', 'ravi', 'honoré').\\n\\n# TA STRUCTURE : LES 14 CHAPITRES DE VIE\\nTon voyage avec {{28.first_name}} est une odyssée à travers 14 chapitres. Ne saute pas d'étapes, assure-toi que chaque période est riche :\\n1. **Les Racines** (Ancêtres, parents, grands-parents, le métier du père/mère).\\n2. **L'Enfance** (La chambre, l'école, les odeurs préférées, l'ambiance familiale).\\n3. **La Jeunesse** (Les premiers émois, les études, les rêves de l'époque).\\n4. **La Maturité** (Vocation, mariage, enfants, les tournants de vie).\\n5. **La Transmission** (Valeurs, secrets, messages aux petits-enfants).\\n\\n# MÉMOIRE ET CONTEXTE (Memory Engine)\\n{{ifempty(32.context; \\\"Nous commençons ensemble ce grand voyage.\\\")}}\\n- **Lieu de l'exploration** : {{ifempty(32.current_subject; \\\"RACINES ET ORIGINES\\\")}}\\n- **Fil d'Ariane pour cet appel** : {{ifempty(32.next_question; \\\"Parlez-moi de vos parents et du foyer de votre enfance.\\\")}}\\n\\n# LES SECRETS DU MÉTIER POUR UNE INTERVIEW PARFAITE\\n1. **La Puissance du 'Racontez-moi'** : Utilise cette formule pour déclencher des histoires, pas des réponses 'oui/non'.\\n2. **Le Silence Fertile** : Si {{28.first_name}} s'arrête après un souvenir émouvant, laisse-le respirer. Ne relance pas trop vite.\\n3. **La Validation Émotionnelle** : Avant de rebondir, témoigne de ton écoute (ex: 'On sent beaucoup de tendresse dans votre voix' ou 'C'est un moment d'une rare intensité').\\n4. **Le Zoom Sensoriel** : Si {{28.first_name}} parle d'un voyage, demande : 'Quelle était la couleur du ciel ce jour-là ?' ou 'Qu'est-ce qu'on entendait ?'.\\n\\n# PRÉFÉRENCES DE {{28.first_name}} (À RESPECTER ABSOLUMENT)\\n- **Politesse** : {{ifempty(28.politeness_preference; \\\"vous\\\")}} (Tutoie ou vouvoie selon ce choix DANS TOUTES TES PHRASES).\\n- **Style du livre** : {{ifempty(28.writing_style; \\\"Naturel et sincère\\\")}}\\n- **Sujets tabous** : {{ifempty(28.sensitive_topics; \\\"Aucun\\\")}}\\n\\n# RÈGLES D'OR\\n- UNE SEULE question à la fois.\\n- Ne répète JAMAIS une question déjà posée (vérifie le contexte).\\n- Si {{28.first_name}} s'égare, ramène-le doucement au chapitre en cours avec une transition élégante.\\n- Termine toujours par une note d'encouragement et de gratitude pour sa confiance.\"}], \"tools\": [{\"type\": \"endCall\"}]}}}","status":"200","headers":[{"key":"Content-Type","value":"application/json"}]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose"}}},"advanced":true,"designer":{"x":1987,"y":302}},"parameters":{}}]},{"flow":[{"id":18,"filter":{"name":"Phase = Onboarding","conditions":[[{"a":"{{28.phase}}","b":"Onboarding","o":"text:equal"}],[{"a":"{{28.phase}}","o":"notexist"}]]},"mapper":{"body":"{\n  \"assistant\": {\n    \"transcriber\": {\n      \"provider\": \"deepgram\",\n      \"model\": \"nova-3\",\n      \"language\": \"fr\"\n    },\n    \"firstMessageMode\": \"assistant-speaks-first\",\n    \"name\": \"Loomina-Onboarding\",\n    \"voice\": {\n      \"provider\": \"11labs\",\n      \"voiceId\": \"Qrl71rx6Yg8RvyPYRGCQ\",\n      \"model\": \"eleven_turbo_v2_5\"\n    },\n    \"firstMessage\": \"Bonjour {{28.first_name}}, et bienvenue sur Loomina. Je suis ravi de faire votre connaissance. Avant de commencer l'écriture de votre livre, j'aimerais apprendre à mieux vous connaître. Êtes-vous prêt à commencer l'aventure ?\",\n    \"model\": {\n      \"provider\": \"openai\",\n      \"model\": \"gpt-4o\",\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"Tu es Loomina, l'IA biographe empathique. Tu effectues l'onboarding de {{28.first_name}}.\\n\\n# OBJECTIF\\nCréer une première impression chaleureuse et rassurante, tout en collectant les préférences essentielles pour personnaliser l'expérience.\\n\\n# TON & POSTURE\\n- CHALEUREUX et ENVELOPPANT : C'est une première rencontre, l'utilisateur peut être intimidé.\\n- PATIENT : Laisse des silences, ne presse jamais.\\n- VALIDANT : Chaque réponse mérite une reconnaissance sincère (\\\"C'est un très beau choix\\\", \\\"Je comprends parfaitement\\\").\\n- NATUREL : Parle comme un ami bienveillant, pas comme un formulaire.\\n\\n# FLUX DE L'ONBOARDING\\n\\n## 1. ACCUEIL (après le \\\"Oui\\\" initial)\\n\\\"Merveilleux. Juste deux petites choses avant de commencer : je suis là pour vous écouter à votre rythme, sans pression. Et pour que notre échange soit fluide, essayons simplement de ne pas nous couper la parole. Ça vous va ?\\\"\\n\\n## 2. CHECKLIST À COMPLÉTER (dans l'ordre)\\nPose ces questions une par une, en validant chaque réponse avant de passer à la suivante :\\n\\n| Élément | Question suggérée |\\n|---------|-------------------|\\n| **Politesse** | \\\"Pour que vous soyez le plus à l'aise, préférez-vous qu'on se tutoie ou qu'on se vouvoie ?\\\" |\\n| **Destinataire** | \\\"À qui souhaitez-vous dédier ce livre ? Est-ce un héritage pour vos proches, ou une démarche plus personnelle, pour vous-même ?\\\" |\\n| **Style** | \\\"Pour le ton du récit : préférez-vous garder votre spontanéité naturelle, ou souhaitez-vous un texte retravaillé, plus littéraire ?\\\" |\\n| **Premier souvenir** | \\\"Parfait, nous avons de bonnes bases. Maintenant, détendez-vous... Par quel souvenir aimeriez-vous commencer ?\\\" |\\n\\n## 3. TRANSITION VERS LA PREMIÈRE SESSION\\nUne fois le premier souvenir évoqué, guide doucement vers l'exploration :\\n\\\"C'est un point de départ magnifique. Fermez les yeux si vous le souhaitez... et racontez-moi ce qui vous revient.\\\"\\n\\n# GESTION DES CAS PARTICULIERS\\n\\n**Silence ou incompréhension :**\\n→ \\\"Pardon, je n'ai pas bien entendu. Vous pouvez répéter ?\\\"\\n\\n**Hésitation de l'utilisateur :**\\n→ \\\"Prenez votre temps, il n'y a pas de mauvaise réponse.\\\"\\n\\n**Utilisateur pressé ou veut partir :**\\n→ Conclus chaleureusement puis utilise la fonction endCall.\\nExemple : \\\"Aucun souci, prenez soin de vous. J'ai hâte de vous retrouver. À très bientôt !\\\"\\n\\n# ADAPTATION EN TEMPS RÉEL\\n- Dès que le choix Tu/Vous est fait, adapte immédiatement ton langage.\\n- Si l'utilisateur plaisante, sois léger. S'il est ému, sois doux.\\n\\n# RÈGLES ABSOLUES\\n- UNE SEULE question à la fois.\\n- Ne jamais brusquer ou presser.\\n- Toujours valider avant de passer à la suite.\"\n        }\n      ],\n      \"tools\": [\n        {\n          \"type\": \"endCall\",\n          \"messages\": [\n            {\n              \"type\": \"request-start\",\n              \"content\": \"C'était un plaisir de faire votre connaissance. À très bientôt pour notre première séance !\"\n            }\n          ]\n        }\n      ]\n    },\n    \"hooks\": [\n      {\n        \"on\": \"customer.speech.timeout\",\n        \"options\": {\n          \"timeoutSeconds\": 60,\n          \"triggerMaxCount\": 1,\n          \"triggerResetMode\": \"onUserSpeech\"\n        },\n        \"do\": [\n          {\n            \"type\": \"say\",\n            \"exact\": \"Êtes-vous toujours là ?\"\n          }\n        ]\n      }\n    ]\n  }\n}","status":"200","headers":[{"key":"Content-Type","value":"application/json"}]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose"}}},"advanced":true,"designer":{"x":1828,"y":586}},"parameters":{}}]},{"flow":[{"id":40,"filter":{"name":"Phase = Clôture","conditions":[[{"a":"{{28.phase}}","b":"Finalisation","o":"text:equal"}]]},"mapper":{"limit":"100","table":"Books","search":[[{"a":"client_id","b":"{{28.id}}","o":"text:eq."}]]},"module":"supabase:searchRows","version":1,"metadata":{"expect":[{"name":"table","type":"select","label":"Table","required":true},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"search","type":"filter","label":"Search criteria","options":{"logic":"and","store":[{"label":"id","value":"id"},{"label":"created_at","value":"created_at"},{"label":"client_id","value":"client_id"},{"label":"title","value":"title"},{"label":"full_manuscript","value":"full_manuscript"},{"label":"style","value":"style"},{"label":"context","value":"context"},{"label":"timeline","value":"timeline"},{"label":"status","value":"status"},{"label":"current_subject","value":"current_subject"},{"label":"next_question","value":"next_question"}],"operators":[{"label":"Text","options":[{"label":"Equals","value":"text:eq."},{"label":"Does not equal","value":"text:neq."},{"label":"Contains (case sensitive)","value":"text:like."},{"label":"Contains (case insensitive)","value":"text:ilike."}]},{"label":"Numbers","options":[{"label":"Equals","value":"number:eq."},{"label":"Does not equal","value":"number:neq."},{"label":"Greater than","value":"number:gt."},{"label":"Less than","value":"number:lt."},{"label":"Greater than or equal to","value":"number:gte."},{"label":"Less than or equal to","value":"number:lte."}]},{"label":"Date","options":[{"label":"Equals","value":"date:eq."},{"label":"Does not equal","value":"date:neq."},{"label":"Later than","value":"date:gt."},{"label":"Earlier than","value":"date:lt."},{"label":"Later than or equal to","value":"date:gte."},{"label":"Earlier than or equal to","value":"date:lte."}]},{"label":"Boolean","options":[{"label":"Equals","value":"boolean:eq."},{"label":"Does not equal","value":"boolean:neq."}]}]}}],"restore":{"expect":{"table":{"mode":"chose","label":"Books","nested":[{"name":"search","type":"filter","label":"Search criteria","options":{"logic":"and","store":[{"label":"id","value":"id"},{"label":"created_at","value":"created_at"},{"label":"client_id","value":"client_id"},{"label":"title","value":"title"},{"label":"full_manuscript","value":"full_manuscript"},{"label":"style","value":"style"},{"label":"context","value":"context"},{"label":"timeline","value":"timeline"},{"label":"status","value":"status"},{"label":"current_subject","value":"current_subject"},{"label":"next_question","value":"next_question"}],"operators":[{"label":"Text","options":[{"label":"Equals","value":"text:eq."},{"label":"Does not equal","value":"text:neq."},{"label":"Contains (case sensitive)","value":"text:like."},{"label":"Contains (case insensitive)","value":"text:ilike."}]},{"label":"Numbers","options":[{"label":"Equals","value":"number:eq."},{"label":"Does not equal","value":"number:neq."},{"label":"Greater than","value":"number:gt."},{"label":"Less than","value":"number:lt."},{"label":"Greater than or equal to","value":"number:gte."},{"label":"Less than or equal to","value":"number:lte."}]},{"label":"Date","options":[{"label":"Equals","value":"date:eq."},{"label":"Does not equal","value":"date:neq."},{"label":"Later than","value":"date:gt."},{"label":"Earlier than","value":"date:lt."},{"label":"Later than or equal to","value":"date:gte."},{"label":"Earlier than or equal to","value":"date:lte."}]},{"label":"Boolean","options":[{"label":"Equals","value":"boolean:eq."},{"label":"Does not equal","value":"boolean:neq."}]}]}}]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"supabase"},"label":"My Supabase connection"}}},"designer":{"x":1470,"y":907},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"id","type":"text","label":"id"},{"name":"created_at","type":"text","label":"created_at"},{"name":"client_id","type":"text","label":"client_id"},{"name":"title","type":"text","label":"title"},{"name":"full_manuscript","type":"text","label":"full_manuscript"},{"name":"style","type":"text","label":"style"},{"name":"context","type":"text","label":"context"},{"name":"timeline","type":"text","label":"timeline"},{"name":"status","type":"text","label":"status"},{"name":"current_subject","type":"text","label":"current_subject"},{"name":"next_question","type":"text","label":"next_question"}],"parameters":[{"name":"__IMTCONN__","type":"account:supabase","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":3941672}},{"id":19,"mapper":{"body":"{ \"assistantId\": \"3178f840-20b8-4371-9664-d43400e70973\" }","status":"200","headers":[{"key":"Content-Type","value":"application/json"}]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose"}}},"advanced":true,"designer":{"x":1945,"y":898}},"parameters":{}}]}],"version":1,"metadata":{"designer":{"x":1200,"y":600}},"parameters":{"else":0}}]}],"version":1,"metadata":{"designer":{"x":900,"y":450}}}]},{"flow":[{"id":34,"filter":{"name":"end_of_call","conditions":[[{"a":"{{1.message.type}}","b":"end-of-call-report","o":"text:equal"}]]},"mapper":{"limit":"10","table":"Client","search":[[{"a":"phone_number","b":"{{1.message.call.customer.number}}","o":"text:eq."}]]},"module":"supabase:searchRows","version":1,"metadata":{"expect":[{"name":"table","type":"select","label":"Table","required":true},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"search","type":"filter","label":"Search criteria","options":{"logic":"and","store":[{"label":"id","value":"id"},{"label":"created_at","value":"created_at"},{"label":"phone_number","value":"phone_number"},{"label":"name","value":"name"},{"label":"phase","value":"phase"},{"label":"email","value":"email"}],"operators":[{"label":"Text","options":[{"label":"Equals","value":"text:eq."},{"label":"Does not equal","value":"text:neq."},{"label":"Contains (case sensitive)","value":"text:like."},{"label":"Contains (case insensitive)","value":"text:ilike."}]},{"label":"Numbers","options":[{"label":"Equals","value":"number:eq."},{"label":"Does not equal","value":"number:neq."},{"label":"Greater than","value":"number:gt."},{"label":"Less than","value":"number:lt."},{"label":"Greater than or equal to","value":"number:gte."},{"label":"Less than or equal to","value":"number:lte."}]},{"label":"Date","options":[{"label":"Equals","value":"date:eq."},{"label":"Does not equal","value":"date:neq."},{"label":"Later than","value":"date:gt."},{"label":"Earlier than","value":"date:lt."},{"label":"Later than or equal to","value":"date:gte."},{"label":"Earlier than or equal to","value":"date:lte."}]},{"label":"Boolean","options":[{"label":"Equals","value":"boolean:eq."},{"label":"Does not equal","value":"boolean:neq."}]}]}}],"restore":{"expect":{"table":{"mode":"chose","label":"Client","nested":[{"name":"search","type":"filter","label":"Search criteria","options":{"logic":"and","store":[{"label":"id","value":"id"},{"label":"created_at","value":"created_at"},{"label":"phone_number","value":"phone_number"},{"label":"name","value":"name"},{"label":"phase","value":"phase"},{"label":"email","value":"email"}],"operators":[{"label":"Text","options":[{"label":"Equals","value":"text:eq."},{"label":"Does not equal","value":"text:neq."},{"label":"Contains (case sensitive)","value":"text:like."},{"label":"Contains (case insensitive)","value":"text:ilike."}]},{"label":"Numbers","options":[{"label":"Equals","value":"number:eq."},{"label":"Does not equal","value":"number:neq."},{"label":"Greater than","value":"number:gt."},{"label":"Less than","value":"number:lt."},{"label":"Greater than or equal to","value":"number:gte."},{"label":"Less than or equal to","value":"number:lte."}]},{"label":"Date","options":[{"label":"Equals","value":"date:eq."},{"label":"Does not equal","value":"date:neq."},{"label":"Later than","value":"date:gt."},{"label":"Earlier than","value":"date:lt."},{"label":"Later than or equal to","value":"date:gte."},{"label":"Earlier than or equal to","value":"date:lte."}]},{"label":"Boolean","options":[{"label":"Equals","value":"boolean:eq."},{"label":"Does not equal","value":"boolean:neq."}]}]}}]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"supabase"},"label":"My Supabase connection"}}},"designer":{"x":600,"y":2100},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"id","type":"text","label":"id"},{"name":"created_at","type":"text","label":"created_at"},{"name":"phone_number","type":"text","label":"phone_number"},{"name":"name","type":"text","label":"name"},{"name":"phase","type":"text","label":"phase"},{"name":"email","type":"text","label":"email"}],"parameters":[{"name":"__IMTCONN__","type":"account:supabase","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":3941672}},{"id":700,"mapper":{"cost":"{{ifempty(1.message.cost; ifempty(1.message.artifact.cost; 1.message.call.cost; 0))}}","table":"Calls","status":"completed","duration":"{{round(ifempty(1.message.durationSeconds; ifempty(1.message.artifact.durationSeconds; 1.message.call.durationSeconds; 0)))}}","client_id":"{{34.id}}","transcript":"{{ifempty(1.message.transcript; ifempty(1.message.artifact.transcript; 1.message.call.transcript))}}","recording_url":"{{ifempty(1.message.recordingUrl; ifempty(1.message.artifact.recordingUrl; 1.message.call.recordingUrl))}}"},"module":"supabase:createARow","version":1,"metadata":{"designer":{"x":900,"y":2100}},"parameters":{"__IMTCONN__":3941672}},{"id":300,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":200,"filter":{"name":"Phase = Onboarding","conditions":[[{"a":"{{34.phase}}","b":"Onboarding","o":"text:equal"}],[{"a":"{{34.phase}}","o":"notexist"}]]},"mapper":{"model":"gpt-4o","top_p":"1","select":"chat","messages":[{"role":"system","content":"Analyze the transcript. Extract Onboarding Data.\\n\\nCRITICAL RULE: Check for these 3 fields: 1) Politeness, 2) Target Audience, 3) Writing Style.\\nIF ALL 3 ARE PRESENT (non-null), YOU MUST SET \"onboarding_complete\": true.\\n\\ Absence of Subject does NOT stop completion.\\n\\nOutput RAW JSON ONLY. DO NOT uses backticks. DO NOT use markdown code blocks.\\nExample: { \"politeness_preference\": \"tu\" ... }"},{"role":"user","content":"{{ifempty(1.message.transcript; ifempty(1.message.artifact.transcript; 1.message.call.transcript; \"(Empty Transcript)\"))}}","imageDetail":"auto"}],"max_tokens":"500","temperature":"1","n_completions":"1","response_format":"text"},"module":"openai-gpt-3:CreateCompletion","version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"tool_choice","type":"select","label":"Tool Choice","validate":{"enum":["none","auto","required"]}},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Output Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"},{"name":"imageInputType","type":"select","label":"Image Input Type","options":[{"label":"URL","value":"url","nested":[{"help":"Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.","name":"imageUrl","type":"url","label":"Image URL"}]},{"label":"Image File","value":"file","nested":[{"name":"imageFile","spec":[{"help":"Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.","name":"imageFilename","type":"filename","label":"Image Filename","semantic":"file:name","extension":["jpg","jpeg","png","webp","gif"]},{"name":"imageData","type":"buffer","label":"Image Data","semantic":"file:data"}],"type":"collection","label":"Image"}]}],"mappable":false},{"help":"Recommended value: `Auto`","name":"imageDetail","type":"select","label":"Image Detail","options":[{"label":"Auto","value":"auto","default":true},{"label":"High","value":"high"},{"label":"Low","value":"low"}]}],"default":true},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"},{"mode":"edit","name":"tool_calls","spec":{"spec":[{"name":"type","type":"hidden","default":"function"},{"help":"Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.","name":"id","type":"text","label":"Tool call ID"},{"name":"function","spec":[{"help":"The name of the function previously called.","name":"name","type":"text","label":"Name","required":true},{"help":"The arguments previously output by the AI.","name":"arguments","type":"text","label":"Arguments","required":true}],"type":"collection","label":"Function"}],"type":"collection","label":"Tool Call"},"type":"array","label":"Tool Calls","labels":{"add":"Add tool call"},"mappable":{"help":"You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."}}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Tool","value":"tool","nested":[{"help":"The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.","name":"content","type":"text","label":"Text Content","required":true},{"help":"Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.","name":"tool_call_id","type":"text","label":"Tool Call ID.","required":true}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"prediction","type":"text","label":"Predicted Outputs"}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"gpt-4o (system)Fast, intelligent, flexible GPT model"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"},"imageDetail":{"mode":"chose","label":"Auto"},"imageInputType":{"mode":"chose","label":"Empty"}}]},"logit_bias":{"mode":"chose"},"tool_choice":{"mode":"chose","label":"Empty"},"response_format":{"mode":"chose","label":"Text"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"My OpenAI connection"}}},"designer":{"x":1500,"y":1200},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"tool_calls","spec":[{"name":"id","type":"text","label":"ID"},{"name":"type","type":"text","label":"Type"},{"name":"function","spec":[{"name":"name","type":"text","label":"Name"},{"name":"arguments","type":"text","label":"Arguments"}],"type":"collection","label":"Function"}],"type":"array","label":"Tool Calls"},{"name":"refusal","type":"text","label":"Refusal"},{"name":"annotations","spec":[{"name":"type","type":"text","label":"Type"},{"name":"url_citation","spec":[{"name":"end_index","type":"number","label":"End Index"},{"name":"start_index","type":"number","label":"Start Index"},{"name":"title","type":"text","label":"Title"},{"name":"url","type":"text","label":"URL"}],"type":"collection","label":"URL Citation"}],"type":"array","label":"Annotations"}],"type":"collection","label":"Message"}],"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":3732225}},{"id":701,"mapper":{"json":"{{replace(replace(replace(200.choices[].message.content; \"```json\"; \"\"); \"```\"; \"\"); \"\\n\"; \"\")}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"Choose a data structure"}}},"designer":{"x":1800,"y":1200},"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":""}},{"id":201,"mapper":{"id":"{{34.id}}","phase":"{{if(701.onboarding_complete = true; \"Interview\"; ifempty(34.phase; \"Onboarding\"))}}","table":"Client","first_name":"{{701.first_name}}","politeness_preference":"{{701.politeness_preference}}"},"module":"supabase:upsertARecord","version":1,"metadata":{"expect":[{"name":"table","type":"select","label":"Table","required":true},{"name":"id","type":"text"},{"name":"created_at","type":"text"},{"name":"phone_number","type":"text"},{"name":"phase","type":"text"},{"name":"email","type":"text"},{"name":"otp_code","type":"text"},{"name":"politeness_preference","type":"text"},{"name":"target_audience","type":"text"},{"name":"writing_style","type":"text"},{"name":"narrative_scope","type":"text"},{"name":"onboarding_status","type":"boolean"},{"name":"first_name","type":"text"},{"name":"last_name","type":"text"}],"restore":{"expect":{"table":{"mode":"chose","label":"Client","nested":[{"help":"Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>","name":"id","type":"text","label":"id","options":null,"required":false},{"help":"Defaults to now(). ","name":"created_at","type":"text","label":"created_at","options":null,"required":false},{"help":"","name":"phone_number","type":"text","label":"phone_number","options":null,"required":false},{"help":"Defaults to Onboarding. ","name":"phase","type":"text","label":"phase","options":null,"required":false},{"help":"","name":"email","type":"text","label":"email","options":null,"required":false},{"help":"","name":"otp_code","type":"text","label":"otp_code","options":null,"required":false},{"help":"","name":"politeness_preference","type":"text","label":"politeness_preference","options":null,"required":false},{"help":"","name":"target_audience","type":"text","label":"target_audience","options":null,"required":false},{"help":"","name":"writing_style","type":"text","label":"writing_style","options":null,"required":false},{"help":"","name":"narrative_scope","type":"text","label":"narrative_scope","options":null,"required":false},{"help":"","name":"onboarding_status","type":"boolean","label":"onboarding_status","options":null,"required":false},{"help":"","name":"first_name","type":"text","label":"first_name","options":null,"required":false},{"help":"","name":"last_name","type":"text","label":"last_name","options":null,"required":false}]},"onboarding_status":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"supabase"},"label":"My Supabase connection"}}},"designer":{"x":2100,"y":1200},"interface":[{"name":"id","type":"text","label":"id"},{"name":"created_at","type":"text","label":"created_at"},{"name":"phone_number","type":"text","label":"phone_number"},{"name":"phase","type":"text","label":"phase"},{"name":"email","type":"text","label":"email"},{"name":"otp_code","type":"text","label":"otp_code"},{"name":"politeness_preference","type":"text","label":"politeness_preference"},{"name":"target_audience","type":"text","label":"target_audience"},{"name":"writing_style","type":"text","label":"writing_style"},{"name":"narrative_scope","type":"text","label":"narrative_scope"},{"name":"onboarding_status","type":"boolean","label":"onboarding_status"},{"name":"first_name","type":"text","label":"first_name"},{"name":"last_name","type":"text","label":"last_name"}],"parameters":[{"name":"__IMTCONN__","type":"account:supabase","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":3941672}},{"id":8555,"mapper":{"style":"{{701.style}}","table":"Books","title":"Biographie","client_id":"{{34.id}}","narrative_scope":"{{701.narrative_scope}}","target_audience":"{{701.target_audience}}"},"module":"supabase:upsertARecord","version":1,"metadata":{"designer":{"x":2400,"y":1200}},"parameters":{"__IMTCONN__":3941672}}]},{"flow":[{"id":35,"filter":{"name":"Phase = Interview","conditions":[[{"a":"{{34.phase}}","b":"Interview","o":"text:equal"}]]},"mapper":{"limit":"10","table":"Books","search":[[{"a":"client_id","b":"{{34.id}}","o":"text:eq."}]]},"module":"supabase:searchRows","onerror":[{"id":24,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":1800,"y":2700}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"table","type":"select","label":"Table","required":true},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"search","type":"filter","label":"Search criteria","options":{"logic":"and","store":[{"label":"id","value":"id"},{"label":"created_at","value":"created_at"},{"label":"client_id","value":"client_id"},{"label":"title","value":"title"},{"label":"full_manuscript","value":"full_manuscript"},{"label":"style","value":"style"},{"label":"context","value":"context"},{"label":"timeline","value":"timeline"},{"label":"status","value":"status"},{"label":"current_subject","value":"current_subject"},{"label":"next_question","value":"next_question"}],"operators":[{"label":"Text","options":[{"label":"Equals","value":"text:eq."},{"label":"Does not equal","value":"text:neq."},{"label":"Contains (case sensitive)","value":"text:like."},{"label":"Contains (case insensitive)","value":"text:ilike."}]},{"label":"Numbers","options":[{"label":"Equals","value":"number:eq."},{"label":"Does not equal","value":"number:neq."},{"label":"Greater than","value":"number:gt."},{"label":"Less than","value":"number:lt."},{"label":"Less than or equal to","value":"number:lte."}]},{"label":"Date","options":[{"label":"Equals","value":"date:eq."},{"label":"Does not equal","value":"date:neq."},{"label":"Later than","value":"date:gt."},{"label":"Earlier than","value":"date:lt."},{"label":"Later than or equal to","value":"date:gte."},{"label":"Earlier than or equal to","value":"date:lte."}]},{"label":"Boolean","options":[{"label":"Equals","value":"boolean:eq."},{"label":"Does not equal","value":"boolean:neq."}]}]}}],"restore":{"expect":{"table":{"mode":"chose","label":"Books","nested":[{"name":"search","type":"filter","label":"Search criteria","options":{"logic":"and","store":[{"label":"id","value":"id"},{"label":"created_at","value":"created_at"},{"label":"client_id","value":"client_id"},{"label":"title","value":"title"},{"label":"full_manuscript","value":"full_manuscript"},{"label":"style","value":"style"},{"label":"context","value":"context"},{"label":"timeline","value":"timeline"},{"label":"status","value":"status"},{"label":"current_subject","value":"current_subject"},{"label":"next_question","value":"next_question"}],"operators":[{"label":"Text","options":[{"label":"Equals","value":"text:eq."},{"label":"Does not equal","value":"text:neq."},{"label":"Contains (case sensitive)","value":"text:like."},{"label":"Contains (case insensitive)","value":"text:ilike."}]},{"label":"Numbers","options":[{"label":"Equals","value":"number:eq."},{"label":"Does not equal","value":"number:neq."},{"label":"Greater than","value":"number:gt."},{"label":"Less than","value":"number:lt."},{"label":"Less than or equal to","value":"number:lte."}]},{"label":"Date","options":[{"label":"Equals","value":"date:eq."},{"label":"Does not equal","value":"date:neq."},{"label":"Later than","value":"date:gt."},{"label":"Earlier than","value":"date:lt."},{"label":"Later than or equal to","value":"date:gte."},{"label":"Earlier than or equal to","value":"date:lte."}]},{"label":"Boolean","options":[{"label":"Equals","value":"boolean:eq."},{"label":"Does not equal","value":"boolean:neq."}]}]}}]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"supabase"},"label":"My Supabase connection"}}},"designer":{"x":1597,"y":2100},"interface":[{"name":"__IMTLENGTH__","type":"uinteger","label":"Total number of bundles"},{"name":"__IMTINDEX__","type":"uinteger","label":"Bundle order position"},{"name":"id","type":"text","label":"id"},{"name":"created_at","type":"text","label":"created_at"},{"name":"client_id","type":"text","label":"client_id"},{"name":"title","type":"text","label":"title"},{"name":"full_manuscript","type":"text","label":"full_manuscript"},{"name":"style","type":"text","label":"style"},{"name":"context","type":"text","label":"context"},{"name":"timeline","type":"text","label":"timeline"},{"name":"status","type":"text","label":"status"},{"name":"current_subject","type":"text","label":"current_subject"},{"name":"next_question","type":"text","label":"next_question"},{"name":"dedication","type":"text","label":"dedication"},{"name":"chapter_count","type":"number","label":"chapter_count"}],"parameters":[{"name":"__IMTCONN__","type":"account:supabase","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":3941672}},{"id":3,"mapper":{"model":"gpt-4o","top_p":"1","select":"chat","messages":[{"role":"system","content":"Tu es l'Écrivain Fantôme de Loomina, un maître du récit autobiographique. Ton talent réside dans ta capacité à transformer une conversation orale en une prose élégante, immersive et structurée.\n\n# TON CLIENT & SON STYLE\\n- Nom du client : {{34.first_name}} {{34.last_name}}\\n- Style d'écriture imposé : '{{35.style}}' (Tu dois IMPÉRATIVEMENT adopter le vocabulaire, la syntaxe et le rythme propres à ce style).\\n- Sujets sensibles à ÉVITER ABSOLUMENT : {{ifempty(34.sensitive_topics; \"Aucun\")}}\n\n# TA MISSION : LA TRANSFORMATION NARRATIVE\nTa tâche est d'extraire la substance émotionnelle et factuelle du transcript pour rédiger un chapitre à la première personne (\"Je\"), digne d'être imprimé. Tu transformes chaque appel en une \"Story\" (un récit).\n\n***\n\n# COMPORTEMENT ÉTAPE PAR ÉTAPE (LOGIQUE CRITIQUE)\n1. **ANALYSE DE LA VALEUR** : Avant d'écrire, demande-toi : \"Le client a-t-il raconté un souvenir, une anecdote ou un fait sur sa vie ?\".\n2. **EXTRACTION DES FAITS** : Identifie mentalement les lieux, les prénoms, les dates et les actions clés.\n3. **INCARNATION** : Enfile la peau du client. Ce n'est pas toi qui racontes son histoire, c'est LUI qui écrit son livre à travers ta plume.\n\n***\n\n# RÈGLES D'OR DE RÉDACTION\n- **NETTOYAGE RADICAL** : Supprime les tics de langage (euh, ben, alors), les hésitations, les répétitions et toutes les interactions techniques avec l'IA.\n- **ENRICHISSEMENT SENSORIEL** : Ne te contente pas de lister les faits. Si le client dit \"je suis allé à la plage\", évoque l'odeur du sel ou la sensation du sable. Règle : Ne crée pas de nouveaux faits, mais amplifie la perception de ceux existants.\n- **RÉSONANCE ÉMOTIONNELLE** : Analyse l'implicite. Derrière un fait, cherche le sentiment (nostalgie, fierté, blessure). Le lecteur doit ressentir ce que le client a vécu.\n- **FLUIDITÉ ROMANESQUE** : Le texte doit s'enchaîner sans couture. Évite les structures répétitives type \"Puis j'ai fait... Après j'ai vu...\". Utilise des transitions élégantes.\n\n# CRITÈRE D'ABANDON (CRUCIAL)\n- Si le transcript est VIDE, ou contient UNIQUEMENT des salutations courtes (ex: \"Allô ?\", \"Oui bonjour\", \"Ça va ?\") sans aucune anecdote ou récit de vie,\n- Si le client ne parle que de problèmes techniques (ex: \"Je ne t'entends pas\", \"Répète\"),\n- ALORS tu dois IMPÉRATIVEMENT répondre avec ce JSON spécial : { \"title\": \"ABORT\", \"content\": \"ABORT\" }\n\n# GESTION DES CONTENUS COURTS MAIS VALIDES\n- Si le client raconte un fait, même court (ex: \"J'ai mangé une pomme ce matin\"), c'est VALIDE. Fais-en un court instant de vie.\n\n# FORMAT DE SORTIE (JSON STRICT)\nTu dois répondre UNIQUEMENT avec un JSON valide respectant cette structure : { \"title\": \"[Un titre court, évocateur ou 'ABORT']\", \"content\": \"[Ton texte rédigé ici ou 'ABORT']\" }"},{"role":"user","content":"Voici le texte: {{1.message.call.transcript}}","imageDetail":"auto"}],"max_tokens":"4096","temperature":"1","n_completions":"1","response_format":"json_object","parseJSONResponse":false},"module":"openai-gpt-3:CreateCompletion","onerror":[{"id":16,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":2100,"y":2400}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"tool_choice","type":"select","label":"Tool Choice","validate":{"enum":["none","auto","required"]}},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Output Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"},{"name":"imageInputType","type":"select","label":"Image Input Type","options":[{"label":"URL","value":"url","nested":[{"help":"Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.","name":"imageUrl","type":"url","label":"Image URL"}]},{"label":"Image File","value":"file","nested":[{"name":"imageFile","spec":[{"help":"Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.","name":"imageFilename","type":"filename","label":"Image Filename","semantic":"file:name","extension":["jpg","jpeg","png","webp","gif"]},{"name":"imageData","type":"buffer","label":"Image Data","semantic":"file:data"}],"type":"collection","label":"Image"}]}],"mappable":false},{"help":"Recommended value: `Auto`","name":"imageDetail","type":"select","label":"Image Detail","options":[{"label":"Auto","value":"auto","default":true},{"label":"High","value":"high"},{"label":"Low","value":"low"}]}],"default":true},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"},{"mode":"edit","name":"tool_calls","spec":{"spec":[{"name":"type","type":"hidden","default":"function"},{"help":"Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.","name":"id","type":"text","label":"Tool call ID"},{"name":"function","spec":[{"help":"The name of the function previously called.","name":"name","type":"text","label":"Name","required":true},{"help":"The arguments previously output by the AI.","name":"arguments","type":"text","label":"Arguments","required":true}],"type":"collection","label":"Function"}],"type":"collection","label":"Tool Call"},"type":"array","label":"Tool Calls","labels":{"add":"Add tool call"},"mappable":{"help":"You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."}}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Tool","value":"tool","nested":[{"help":"The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.","name":"content","type":"text","label":"Text Content","required":true},{"help":"Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.","name":"tool_call_id","type":"text","label":"Tool Call ID.","required":true}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"prediction","type":"text","label":"Predicted Outputs"},{"name":"parseJSONResponse","type":"boolean","label":"Parse JSON Response","required":true}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"gpt-4o (system)Fast, intelligent, flexible GPT model"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"},"imageDetail":{"mode":"chose","label":"Auto"},"imageInputType":{"mode":"chose","label":"Empty"}}]},"logit_bias":{"mode":"chose"},"tool_choice":{"mode":"chose","label":"Empty"},"response_format":{"mode":"chose","label":"JSON Object"},"parseJSONResponse":{"mode":"chose"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"My OpenAI connection"}}},"designer":{"x":1844,"y":1935},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"tool_calls","spec":[{"name":"id","type":"text","label":"ID"},{"name":"type","type":"text","label":"Type"},{"name":"function","spec":[{"name":"name","type":"text","label":"Name"},{"name":"arguments","type":"text","label":"Arguments"}],"type":"collection","label":"Function"}],"type":"array","label":"Tool Calls"},{"name":"refusal","type":"text","label":"Refusal"},{"name":"annotations","spec":[{"name":"type","type":"text","label":"Type"},{"name":"url_citation","spec":[{"name":"end_index","type":"number","label":"End Index"},{"name":"start_index","type":"number","label":"Start Index"},{"name":"title","type":"text","label":"Title"},{"name":"url","type":"text","label":"URL"}],"type":"collection","label":"URL Citation"}],"type":"array","label":"Annotations"}],"type":"collection","label":"Message"}],"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":3732225}},{"id":702,"mapper":{"json":"{{replace(replace(replace(3.choices[].message.content; \"```json\"; \"\"); \"```\"; \"\"); \"\\n\"; \"\")}}"},"module":"json:ParseJSON","version":1,"metadata":{"designer":{"x":2087,"y":1848},"interface":[{"name":"title","type":"text","label":"title"},{"name":"content","type":"text","label":"content"}]},"parameters":{"type":""}},{"id":36,"filter":{"name":"Contenu Valide","conditions":[[{"a":"{{702.content}}","b":"ABORT","o":"text:notequal"}]]},"mapper":{"table":"Chapters","title":"{{702.title}}","status":"draft","book_id":"{{35.id}}","call_id":"{{700.id}}","content":"{{702.content}}","chapter_number":"{{35.chapter_count + 1}}"},"module":"supabase:createARow","onerror":[{"id":25,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":2700,"y":2100}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"table","type":"select","label":"Table","required":true},{"name":"id","type":"text"},{"name":"created_at","type":"text"},{"name":"book_id","type":"text"},{"name":"call_id","type":"text"},{"name":"chapter_number","type":"integer"},{"name":"title","type":"text"},{"name":"content","type":"text"},{"name":"status","type":"text"}],"restore":{"expect":{"table":{"mode":"chose","label":"Chapters","nested":[{"help":"Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>","name":"id","type":"text","label":"id","options":null,"required":false},{"help":"Defaults to now(). ","name":"created_at","type":"text","label":"created_at","options":null,"required":false},{"help":"Note:\nThis is a Foreign Key to `Books.id`.<fk table='Books' column='id'/>","name":"book_id","type":"text","label":"book_id","options":null,"required":false},{"help":"Note:\nThis is a Foreign Key to `Calls.id`.<fk table='Calls' column='id'/>","name":"call_id","type":"text","label":"call_id","options":null,"required":false},{"help":"","name":"chapter_number","type":"integer","label":"chapter_number","options":null,"required":false},{"help":"","name":"title","type":"text","label":"title","options":null,"required":false},{"help":"","name":"content","type":"text","label":"content","options":null,"required":false},{"help":"","name":"status","type":"text","label":"status","options":null,"required":false}]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"supabase"},"label":"My Supabase connection"}}},"designer":{"x":2400,"y":1800},"interface":[{"name":"id","type":"number","label":"id"},{"name":"created_at","type":"text","label":"created_at"},{"name":"title","type":"text","label":"title"},{"name":"content","type":"text","label":"content"},{"name":"book_id","type":"text","label":"book_id"},{"name":"call_id","type":"text","label":"call_id"},{"name":"type","type":"text","label":"type"},{"name":"chapter_number","type":"number","label":"chapter_number"},{"name":"status","type":"text","label":"status"}],"parameters":[{"name":"__IMTCONN__","type":"account:supabase","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":3941672}},{"id":8,"mapper":{"model":"gpt-4o","top_p":"1","select":"chat","messages":[{"role":"system","content":"Tu es le Directeur Stratégique de Loomina (Phase Interview). Tu pilotes la progression narrative de la biographie.\n\n# DONNÉES DISPONIBLES\n- Transcript de l'appel : {{1.message.call.transcript}}\n- Sujet en cours : {{ifempty(35.current_subject; \"RACINES ET ORIGINES\")}}\n- Contexte mémorisé : {{ifempty(35.context; \"Début du livre.\")}}\n- Préférence de politesse : {{34.politeness_preference}} (Tu/Vous)\n- Sujets sensibles à ÉVITER : {{ifempty(34.sensitive_topics; \"Aucun\")}}\n\n# LA CARTE DE NAVIGATION (14 CHAPITRES)\n1. RACINES ET ORIGINES\n2. ENFANCE (0-12 ans)\n3. ADOLESCENCE (12-18 ans)\n4. FORMATION ET ETUDES\n5. VIE PROFESSIONNELLE\n6. AMOURS ET VIE AFFECTIVE\n7. FAMILLE CONSTRUITE\n8. AMITIES ET RELATIONS\n9. PASSIONS ET CENTRES D'INTERET\n10. MODELES ET INSPIRATIONS\n11. EPREUVES ET RESILIENCE\n12. VALEURS ET CONVICTIONS\n13. BILAN ET SAGESSE\n14. TRANSMISSION ET HERITAGE\n\n# TA MISSION\nAnalyse le transcript et décide de la suite.\n\n## Étape 1 : Analyse de l'avancement\nLe sujet en cours a-t-il été bien couvert durant cet appel ?\n- OUI, couvert en profondeur → On passe au chapitre suivant de la liste.\n- NON, à peine effleuré ou beaucoup de choses à dire → On reste sur ce chapitre.\n- SI le client dit explicitement vouloir arrêter le livre → Phase \"Finalisation\".\n\n## Étape 2 : Création de la Prochaine Question (CRITIQUE)\nTu dois générer l'accroche parfaite pour que l'IA Biographe relance la conversation la prochaine fois.\n- Soit une relance pour approfondir le sujet actuel (\"Vous avez mentionné X, j'aimerais qu'on y revienne...\")\n- Soit une ouverture vers le nouveau sujet (\"Passons à votre adolescence...\")\n- IMPORTANT : Respecte IMPÉRATIVEMENT la préférence de politesse ({{34.politeness_preference}}) et n'aborde JAMAIS les sujets sensibles ({{34.sensitive_topics}}).\n\n## Étape 3 : Mise à jour du Contexte\nSynthétise les points clés de cet appel en 2-3 phrases pour enrichir la mémoire du biographe. Ajoute-le au contexte existant.\n\n# FORMAT DE SORTIE (JSON)\nRéponds UNIQUEMENT avec ce JSON valide :\n\n{\n  \"nouvelle_phase\": \"Interview\" (ou \"Finalisation\" si le client a fini TOUT le livre),\n  \"nouveau_sujet\": \"Le sujet pour le prochain appel (Même ou Suivant)\",\n  \"prochaine_question\": \"La phrase d'accroche exacte pour le prochain appel (Ton chaleureux, masculin, respectant le Tu/Vous)\",\n  \"resume_pour_contexte\": \"Le contexte global mis à jour (prends le contexte précédent + ton résumé de cet appel)\"\n}"},{"role":"user","content":"Analyse ce transcript et mets à jour la stratégie :\n\n{{1.message.call.transcript}}"}],"max_tokens":2048,"temperature":0.4,"n_completions":"1","response_format":"json_object","parseJSONResponse":false},"module":"openai-gpt-3:CreateCompletion","version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"tool_choice","type":"select","label":"Tool Choice","validate":{"enum":["none","auto","required"]}},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Output Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"},{"name":"imageInputType","type":"select","label":"Image Input Type","options":[{"label":"URL","value":"url","nested":[{"help":"Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.","name":"imageUrl","type":"url","label":"Image URL"}]},{"label":"Image File","value":"file","nested":[{"name":"imageFile","spec":[{"help":"Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.","name":"imageFilename","type":"filename","label":"Image Filename","semantic":"file:name","extension":["jpg","jpeg","png","webp","gif"]},{"name":"imageData","type":"buffer","label":"Image Data","semantic":"file:data"}],"type":"collection","label":"Image"}]}],"mappable":false},{"help":"Recommended value: `Auto`","name":"imageDetail","type":"select","label":"Image Detail","options":[{"label":"Auto","value":"auto","default":true},{"label":"High","value":"high"},{"label":"Low","value":"low"}]}],"default":true},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"},{"mode":"edit","name":"tool_calls","spec":{"spec":[{"name":"type","type":"hidden","default":"function"},{"help":"Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.","name":"id","type":"text","label":"Tool call ID"},{"name":"function","spec":[{"help":"The name of the function previously called.","name":"name","type":"text","label":"Name","required":true},{"help":"The arguments previously output by the AI.","name":"arguments","type":"text","label":"Arguments","required":true}],"type":"collection","label":"Function"}],"type":"collection","label":"Tool Call"},"type":"array","label":"Tool Calls","labels":{"add":"Add tool call"},"mappable":{"help":"You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."}}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Tool","value":"tool","nested":[{"help":"The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.","name":"content","type":"text","label":"Text Content","required":true},{"help":"Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.","name":"tool_call_id","type":"text","label":"Tool Call ID.","required":true}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"prediction","type":"text","label":"Predicted Outputs"},{"name":"parseJSONResponse","type":"boolean","label":"Parse JSON Response","required":true}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"gpt-4o (system)Fast, intelligent, flexible GPT model"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"},"imageDetail":{"mode":"chose","label":"Auto"},"imageInputType":{"mode":"chose","label":"Empty"}}]},"logit_bias":{"mode":"chose"},"tool_choice":{"mode":"chose","label":"Empty"},"response_format":{"mode":"chose","label":"JSON Object"},"parseJSONResponse":{"mode":"chose"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"My OpenAI connection"}}},"advanced":true,"designer":{"x":3000,"y":1650},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"tool_calls","spec":[{"name":"id","type":"text","label":"ID"},{"name":"type","type":"text","label":"Type"},{"name":"function","spec":[{"name":"name","type":"text","label":"Name"},{"name":"arguments","type":"text","label":"Arguments"}],"type":"collection","label":"Function"}],"type":"array","label":"Tool Calls"},{"name":"refusal","type":"text","label":"Refusal"},{"name":"annotations","spec":[{"name":"type","type":"text","label":"Type"},{"name":"url_citation","spec":[{"name":"end_index","type":"number","label":"End Index"},{"name":"start_index","type":"number","label":"Start Index"},{"name":"title","type":"text","label":"Title"},{"name":"url","type":"text","label":"URL"}],"type":"collection","label":"URL Citation"}],"type":"array","label":"Annotations"}],"type":"collection","label":"Message"}],"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":3732225}},{"id":12,"mapper":{"json":"{{8.choices[].message.content}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"Structure Mémo"}}},"designer":{"x":3300,"y":1650},"interface":[{"help":"","name":"nouvelle_phase","type":"text","label":"Nouvelle phase","default":null,"required":false,"multiline":false},{"help":"","name":"nouveau_sujet","type":"text","label":"Nouveau sujet","default":null,"required":false,"multiline":false},{"help":"","name":"prochaine_question","type":"text","label":"Prochaine question","default":null,"required":false,"multiline":false}],"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":251087}},{"id":37,"mapper":{"id":"{{34.id}}","phase":"{{12.nouvelle_phase}}","table":"Client"},"module":"supabase:upsertARecord","onerror":[{"id":26,"mapper":{"count":"3","retry":true,"interval":"1"},"module":"builtin:Break","version":1,"metadata":{"expect":[{"name":"retry","type":"boolean","label":"Automatically complete execution","required":true},{"name":"count","type":"uinteger","label":"Number of attempts","required":true,"validate":{"max":10000,"min":1}},{"name":"interval","type":"uinteger","label":"Interval between attempts","required":true,"validate":{"max":44640,"min":1}}],"restore":{"expect":{"retry":{"mode":"chose"}}},"designer":{"x":3900,"y":1800}},"parameters":{}}],"version":1,"metadata":{"expect":[{"name":"table","type":"select","label":"Table","required":true},{"name":"id","type":"text"},{"name":"created_at","type":"text"},{"name":"phone_number","type":"text"},{"name":"name","type":"text"},{"name":"phase","type":"text"},{"name":"email","type":"text"}],"restore":{"expect":{"table":{"mode":"chose","label":"Client","nested":[{"help":"Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>","name":"id","type":"text","label":"id","options":null,"required":false},{"help":"Defaults to now(). ","name":"created_at","type":"text","label":"created_at","options":null,"required":false},{"help":"","name":"phone_number","type":"text","label":"phone_number","options":null,"required":false},{"help":"","name":"name","type":"text","label":"name","options":null,"required":false},{"help":"","name":"phase","type":"text","label":"phase","options":null,"required":false},{"help":"","name":"email","type":"text","label":"email","options":null,"required":false}]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"supabase"},"label":"My Supabase connection"}}},"designer":{"x":3600,"y":1650},"interface":[{"name":"id","type":"text","label":"id"},{"name":"created_at","type":"text","label":"created_at"},{"name":"phone_number","type":"text","label":"phone_number"},{"name":"phase","type":"text","label":"phase"},{"name":"email","type":"text","label":"email"},{"name":"otp_code","type":"text","label":"otp_code"},{"name":"politeness_preference","type":"text","label":"politeness_preference"},{"name":"target_audience","type":"text","label":"target_audience"},{"name":"writing_style","type":"text","label":"writing_style"},{"name":"narrative_scope","type":"text","label":"narrative_scope"},{"name":"onboarding_status","type":"boolean","label":"onboarding_status"},{"name":"first_name","type":"text","label":"first_name"},{"name":"last_name","type":"text","label":"last_name"}],"parameters":[{"name":"__IMTCONN__","type":"account:supabase","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":3941672}},{"id":39,"mapper":{"id":"{{35.id}}","table":"Books","context":"{{12.resume_pour_contexte}}","chapter_count":"{{35.chapter_count + 1}}","next_question":"{{12.prochaine_question}}","current_subject":"{{12.nouveau_sujet}}"},"module":"supabase:upsertARecord","version":1,"metadata":{"expect":[{"name":"table","type":"select","label":"Table","required":true},{"name":"id","type":"text"},{"name":"created_at","type":"text"},{"name":"client_id","type":"text"},{"name":"title","type":"text"},{"name":"full_manuscript","type":"text"},{"name":"style","type":"text"},{"name":"context","type":"text"},{"name":"timeline","type":"text"},{"name":"status","type":"text"},{"name":"current_subject","type":"text"},{"name":"next_question","type":"text"}],"restore":{"expect":{"table":{"mode":"chose","label":"Books","nested":[{"help":"Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>","name":"id","type":"text","label":"id","options":null,"required":false},{"help":"Defaults to now(). ","name":"created_at","type":"text","label":"created_at","options":null,"required":false},{"help":"Note:\nThis is a Foreign Key to `Client.id`.<fk table='Client' column='id'/>","name":"client_id","type":"text","label":"client_id","options":null,"required":false},{"help":"","name":"title","type":"text","label":"title","options":null,"required":false},{"help":"","name":"full_manuscript","type":"text","label":"full_manuscript","options":null,"required":false},{"help":"","name":"style","type":"text","label":"style","options":null,"required":false},{"help":"","name":"context","type":"text","label":"context","options":null,"required":false},{"help":"","name":"timeline","type":"text","label":"timeline","options":null,"required":false},{"help":"","name":"status","type":"text","label":"status","options":null,"required":false},{"help":"","name":"current_subject","type":"text","label":"current_subject","options":null,"required":false},{"help":"","name":"next_question","type":"text","label":"next_question","options":null,"required":false}]}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"supabase"},"label":"My Supabase connection"}}},"designer":{"x":3900,"y":1500},"interface":[{"name":"id","type":"text","label":"id"},{"name":"created_at","type":"text","label":"created_at"},{"name":"client_id","type":"text","label":"client_id"},{"name":"title","type":"text","label":"title"},{"name":"full_manuscript","type":"text","label":"full_manuscript"},{"name":"style","type":"text","label":"style"},{"name":"context","type":"text","label":"context"},{"name":"timeline","type":"text","label":"timeline"},{"name":"status","type":"text","label":"status"},{"name":"current_subject","type":"text","label":"current_subject"},{"name":"next_question","type":"text","label":"next_question"}],"parameters":[{"name":"__IMTCONN__","type":"account:supabase","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":3941672}}]},{"flow":[{"id":400,"filter":{"name":"Phase = Finalisation","conditions":[[{"a":"{{34.phase}}","b":"Finalisation","o":"text:equal"}]]},"mapper":{"model":"gpt-4o","top_p":"1","select":"chat","messages":[{"role":"system","content":"Analyze the transcript. This is the Finalization Call.\\nExtract:\\n1. The Book Title decided by the user.\\n2. The Dedication (words for the first page).\\n\\nOutput JSON ONLY: { \"title\": \"string\", \"dedication\": \"string\" }"},{"role":"user","content":"{{1.message.call.transcript}}","imageDetail":"auto"}],"max_tokens":"500","temperature":"1","n_completions":"1"},"module":"openai-gpt-3:CreateCompletion","version":1,"metadata":{"expect":[{"name":"select","type":"select","label":"Select Method","required":true,"validate":{"enum":["chat","prompt"]}},{"name":"temperature","type":"number","label":"Temperature","validate":{"max":2,"min":0}},{"name":"top_p","type":"number","label":"Top P","validate":{"max":1,"min":0}},{"name":"n_completions","type":"number","label":"Number"},{"name":"frequency_penalty","type":"number","label":"Frequency Penalty","validate":{"max":2,"min":-2}},{"name":"presence_penalty","type":"number","label":"Presence Penalty","validate":{"max":2,"min":-2}},{"name":"logit_bias","spec":{"name":"value","spec":[{"name":"token","type":"text","label":"Token ID","required":true},{"name":"probability","type":"number","label":"Probability","required":true,"validate":{"max":100,"min":-100}}],"type":"collection","label":"Token Probability"},"type":"array","label":"Token Probability"},{"name":"seed","type":"integer","label":"Seed"},{"name":"tool_choice","type":"select","label":"Tool Choice","validate":{"enum":["none","auto","required"]}},{"name":"stop","spec":{"name":"value","type":"text","label":"Stop Sequence"},"type":"array","label":"Stop Sequences","validate":{"maxItems":4}},{"name":"additionalParameters","spec":{"name":"value","spec":[{"name":"key","type":"text","label":"Parameter Name","required":true},{"name":"type","type":"select","label":"Input Type","options":[{"label":"Text","value":"text","nested":[{"name":"value","type":"text","label":"Parameter Value"}],"default":true},{"label":"Number","value":"number","nested":[{"name":"value","type":"number","label":"Parameter Value"}]},{"label":"Boolean","value":"boolean","nested":[{"name":"value","type":"boolean","label":"Parameter Value"}]},{"label":"Date","value":"date","nested":[{"name":"value","type":"date","label":"Parameter Value"}]},{"label":"Any","value":"any","nested":[{"name":"value","type":"any","label":"Parameter Value"}]}]}],"type":"collection","label":"Input Parameter"},"type":"array","label":"Other Input Parameters"},{"name":"model","type":"select","label":"Model","required":true},{"name":"max_tokens","type":"uinteger","label":"Max Output Tokens"},{"name":"messages","spec":{"name":"value","spec":[{"name":"role","type":"select","label":"Role","options":{"store":[{"label":"User","value":"user","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"},{"name":"imageInputType","type":"select","label":"Image Input Type","options":[{"label":"URL","value":"url","nested":[{"help":"Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.","name":"imageUrl","type":"url","label":"Image URL"}]},{"label":"Image File","value":"file","nested":[{"name":"imageFile","spec":[{"help":"Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.","name":"imageFilename","type":"filename","label":"Image Filename","semantic":"file:name","extension":["jpg","jpeg","png","webp","gif"]},{"name":"imageData","type":"buffer","label":"Image Data","semantic":"file:data"}],"type":"collection","label":"Image"}]}],"mappable":false},{"help":"Recommended value: `Auto`","name":"imageDetail","type":"select","label":"Image Detail","options":[{"label":"Auto","value":"auto","default":true},{"label":"High","value":"high"},{"label":"Low","value":"low"}]}],"default":true},{"label":"Assistant","value":"assistant","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"},{"mode":"edit","name":"tool_calls","spec":{"spec":[{"name":"type","type":"hidden","default":"function"},{"help":"Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.","name":"id","type":"text","label":"Tool call ID"},{"name":"function","spec":[{"help":"The name of the function previously called.","name":"name","type":"text","label":"Name","required":true},{"help":"The arguments previously output by the AI.","name":"arguments","type":"text","label":"Arguments","required":true}],"type":"collection","label":"Function"}],"type":"collection","label":"Tool Call"},"type":"array","label":"Tool Calls","labels":{"add":"Add tool call"},"mappable":{"help":"You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."}}]},{"label":"Developer / System","value":"system","nested":[{"help":"Text content of the message on behalf of the selected __Role__.","name":"content","type":"text","label":"Text Content"}]},{"label":"Tool","value":"tool","nested":[{"help":"The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.","name":"content","type":"text","label":"Text Content","required":true},{"help":"Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.","name":"tool_call_id","type":"text","label":"Tool Call ID.","required":true}]}]},"required":true}],"type":"collection","label":"Message"},"type":"array","label":"Messages","required":true},{"name":"response_format","type":"select","label":"Response Format","validate":{"enum":["text","json_object"]}},{"name":"prediction","type":"text","label":"Predicted Outputs"}],"restore":{"expect":{"stop":{"mode":"chose"},"model":{"mode":"chose","label":"gpt-4o (system)Fast, intelligent, flexible GPT model"},"select":{"label":"Create a Chat Completion (GPT and o1 models)"},"messages":{"mode":"chose","items":[{"role":{"mode":"chose","label":"Developer / System"}},{"role":{"mode":"chose","label":"User"},"imageDetail":{"mode":"chose","label":"Auto"},"imageInputType":{"mode":"chose","label":"Empty"}}]},"logit_bias":{"mode":"chose"},"tool_choice":{"mode":"chose","label":"Empty"},"response_format":{"mode":"chose"},"additionalParameters":{"mode":"chose"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"openai-gpt-3"},"label":"My OpenAI connection"}}},"designer":{"x":1500,"y":3000},"interface":[{"name":"result","type":"any","label":"Result"},{"name":"id","type":"text","label":"ID"},{"name":"object","type":"text","label":"Object"},{"name":"created","type":"date","label":"Created"},{"name":"model","type":"text","label":"Model"},{"name":"choices","spec":[{"name":"text","type":"text","label":"Text"},{"name":"index","type":"number","label":"Index"},{"name":"logprobs","type":"text","label":"Log Probs"},{"name":"finish_reason","type":"text","label":"Finish Reason"},{"name":"message","spec":[{"name":"role","type":"text","label":"Role"},{"name":"content","type":"text","label":"Content"},{"name":"tool_calls","spec":[{"name":"id","type":"text","label":"ID"},{"name":"type","type":"text","label":"Type"},{"name":"function","spec":[{"name":"name","type":"text","label":"Name"},{"name":"arguments","type":"text","label":"Arguments"}],"type":"collection","label":"Function"}],"type":"array","label":"Tool Calls"},{"name":"refusal","type":"text","label":"Refusal"},{"name":"annotations","spec":[{"name":"type","type":"text","label":"Type"},{"name":"url_citation","spec":[{"name":"end_index","type":"number","label":"End Index"},{"name":"start_index","type":"number","label":"Start Index"},{"name":"title","type":"text","label":"Title"},{"name":"url","type":"text","label":"URL"}],"type":"collection","label":"URL Citation"}],"type":"array","label":"Annotations"}],"type":"collection","label":"Message"}],"type":"array","label":"Choices"},{"name":"usage","spec":[{"name":"prompt_tokens","type":"number","label":"Prompt Tokens"},{"name":"completion_tokens","type":"text","label":"Completion Tokens"},{"name":"total_tokens","type":"number","label":"Total Tokens"},{"name":"prompt_tokens_details","spec":[{"name":"cached_tokens","type":"uinteger","label":"Cached Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"image_tokens","type":"uinteger","label":"Image Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"}],"type":"collection","label":"Prompt Tokens Details"},{"name":"completion_tokens_details","spec":[{"name":"reasoning_tokens","type":"uinteger","label":"Reasoning Tokens"},{"name":"text_tokens","type":"uinteger","label":"Text Tokens"},{"name":"audio_tokens","type":"uinteger","label":"Audio Tokens"},{"name":"accepted_prediction_tokens","type":"uinteger","label":"Accepted Prediction Tokens"},{"name":"rejected_prediction_tokens","type":"uinteger","label":"Rejected Prediction Tokens"}],"type":"collection","label":"Completion Tokens Details"}],"type":"collection","label":"Usage"},{"name":"service_tier","type":"text","label":"Service Tier"},{"name":"system_fingerprint","type":"text","label":"System Fingerprint"}],"parameters":[{"name":"__IMTCONN__","type":"account:openai-gpt-3","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":3732225}},{"id":402,"mapper":{"json":"{{400.choices[].message.content}}"},"module":"json:ParseJSON","version":1,"metadata":{"designer":{"x":1800,"y":3000}},"parameters":{"type":""}},{"id":401,"mapper":{"table":"Books","title":"{{402.title}}","status":"completed","client_id":"{{34.id}}","dedication":"{{402.dedication}}"},"module":"supabase:upsertARecord","version":1,"metadata":{"designer":{"x":2100,"y":3000}},"parameters":{"__IMTCONN__":3941672}}]}],"version":1,"metadata":{"designer":{"x":1200,"y":2100}},"parameters":{"else":0}}]}],"version":1,"metadata":{"designer":{"x":300,"y":1500}}}],"name":"LOOMINA MAIN","metadata":{"instant":true,"version":1,"designer":{"orphans":[]},"scenario":{"dlq":true,"slots":null,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"freshVariables":false,"autoCommitTriggerLast":true}}},"scheduling":{"type":"immediately","maximum_runs_per_minute":10000},"concept":false,"created":"2025-12-08T17:08:11.468Z","last_edit":"2026-01-14T10:08:26.854Z","metadata":{"input_spec":[],"output_spec":[]},"idSequence":9003}}