make/Loomina Outbound Call.blueprint.json
{
    "name": "Loomina Outbound Call FIXED",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2240549
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                }
            }
        },
        {
            "id": 4,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.vapi.ai/call",
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer a282c0de-e348-465d-9b76-22ed443c893c"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "contentType": "json",
                "fields": {
                    "phoneNumberId": "9c12d63e-ad70-4e8a-bc6e-28b3f17fb5a6",
                    "assistant": {
                        "serverUrl": "https://hook.eu1.make.com/s9yafdfjfsw5koknvrvzqocv64nf72ih"
                    },
                    "customer": {
                        "number": "{{1.phone_number}}"
                    }
                },
                "parseResponse": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {
                "status": 200,
                "body": "{\"status\":\"success\"}"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "sequential": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}