make/Loomina Outbound Call.blueprint.json
{
    "name": "Loomina Outbound Call",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2240549,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "My gateway-webhook webhook",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
            },
            "mapper": {
                "url": "https://api.vapi.ai/call",
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer a282c0de-e348-465d-9b76-22ed443c893c"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "contentType": "json",
                "fields": {
                    "phoneNumberId": "9c12d63e-ad70-4e8a-bc6e-28b3f17fb5a6",
                    "customer": {
                        "number": "{{1.phone_number}}"
                    }
                },
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authentication"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "status": "200",
                "body": "{\n  \"status\": \"success\",\n  \"message\": \"Call triggered\"\n}",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Custom headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}