make/Loomina_Identity_Verify_FIX.blueprint.json
{
    "name": "Loomina Identity Verify (Fixed)",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -100,
                    "y": 0
                }
            }
        },
        {
            "id": 2,
            "module": "router:Router",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 150,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "twilio:VerifyStart",
            "version": 1,
            "parameters": {
                "accountSid": "AC...",
                "serviceSid": "VA..."
            },
            "mapper": {
                "to": "{{1.phone_number}}",
                "channel": "sms"
            },
            "filter": {
                "name": "Action: Start",
                "conditions": [
                    [
                        {
                            "a": "{{1.action}}",
                            "o": "text:equal",
                            "b": "start"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 400,
                    "y": -100
                }
            }
        },
        {
            "id": 4,
            "module": "twilio:VerifyCheck",
            "version": 1,
            "parameters": {
                "accountSid": "AC...",
                "serviceSid": "VA..."
            },
            "mapper": {
                "to": "{{1.phone_number}}",
                "code": "{{1.otp_code}}"
            },
            "filter": {
                "name": "Action: Check",
                "conditions": [
                    [
                        {
                            "a": "{{1.action}}",
                            "o": "text:equal",
                            "b": "check"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 400,
                    "y": 100
                }
            }
        },
        {
            "id": 5,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "status": 200,
                "body": "{\n  \"status\": \"{{3.status}}{{4.status}}\",\n  \"valid\": {{4.valid}}\n}",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 700,
                    "y": 0
                }
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}