make/OTP Login Flow.blueprint.json
{
    "name": "OTP Login Flow (FINAL - FIXED FILTERS)",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                }
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {},
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "supabase:searchRows",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3941672
                            },
                            "filter": {
                                "name": "Action: Send OTP",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.action}}",
                                            "b": "send_otp",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "limit": 1,
                                "table": "Client",
                                "search": [
                                    [
                                        {
                                            "a": "phone_number",
                                            "b": "{{1.phone}}",
                                            "o": "text:eq."
                                        }
                                    ]
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -150
                                }
                            }
                        },
                        {
                            "id": 10,
                            "module": "twilio-verify:startVerification",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 4144551
                            },
                            "filter": {
                                "name": "Client Exists",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.id}}",
                                            "o": "exists"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "To": "{{1.phone}}",
                                "Channel": "sms",
                                "ServiceSid": "VA85ce7a3d73d72c01e50e6e79896494a2"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1050,
                                    "y": -150
                                }
                            }
                        },
                        {
                            "id": 5,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\"success\": true, \"message\": \"OTP sent\"}",
                                "status": 200
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": -150
                                }
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "twilio-verify:checkVerification",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 4144551
                            },
                            "filter": {
                                "name": "Action: Verify OTP",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.action}}",
                                            "b": "verify_otp",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "Code": "{{1.code}}",
                                "To": "{{1.phone}}",
                                "ServiceSid": "VA85ce7a3d73d72c01e50e6e79896494a2"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 150
                                }
                            }
                        },
                        {
                            "id": 7,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "parameters": {},
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 8,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "body": "{\"status\": \"approved\", \"message\": \"Authentication successful\"}",
                                                "status": 200
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 0
                                                },
                                                "filter": {
                                                    "name": "Approved",
                                                    "conditions": [
                                                        [
                                                            {
                                                                "a": "{{11.status}}",
                                                                "b": "approved",
                                                                "o": "text:equal"
                                                            }
                                                        ]
                                                    ]
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 9,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "body": "{\"status\": \"failed\", \"message\": \"Invalid code\"}",
                                                "status": 200
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 300
                                                },
                                                "filter": {
                                                    "name": "Failed",
                                                    "conditions": [
                                                        [
                                                            {
                                                                "a": "{{11.status}}",
                                                                "b": "approved",
                                                                "o": "text:not_equal"
                                                            }
                                                        ]
                                                    ]
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}